.App {
  text-align: center;


}

.bigOrder {
  display: inline-flex;

  border: 2px solid rgb(227, 34, 34);
  margin-right: 20px;
  max-width: 150px;
  height: 260px;
  text-align: left;
}

h1 {
  font-size: 25px;
  color: black;
}

p {
  font-size: 10px;
}

.indvOrder {
  margin-left: 1em;
  text-align: left;
  margin-right: 1em;
  color: blue;
}

h2 {
  font-size: 18px;
  color: black;
}

hr {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0.1re solid black;
}